.item {
  padding: 1rem 1rem 0rem 1rem;
  color: #8b949e;
  text-align: left;
  text-decoration: none;
  border-bottom: 1px solid #22272c;
}

.name {
  font-size: 20px;
  font-weight: 600;
}

.description {
  margin-top: 0.8rem;
  font-size: 12px;
}

.link {
  color: #58a6ff;
}

.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
}
