.container {
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.image {
  width: 100%;
}

.circle {
  border-radius: 9999px;
}

.vcard {
  font-size: 100%;
}

.login {
  color: #8b949e;
  font-size: 20px;
  font-weight: 300;
}

.link:hover,
.link:focus,
.link:active {
  color: #58a6ff;
  text-decoration: underline;
}

/* iPhone Xs */

@media screen and (max-width: 600px) {
  .profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .image {
    width: 18%;
    margin-right: 16px;
  }
  .vcard {
    display: none;
  }
}
