.container {
  display: flex;
  align-items: center;
  height: 62px;
  font-weight: 600;
  background-color: #161b22;
}

.item {
  margin-left: 16px;
  color: #eef5fa;
  white-space: nowrap;
}

.search {
  padding: 5px;
  width: 320px;
  font-size: 16px;
  color: #c9d1d9;
  border: 1px solid;
  border-radius: 6px;
  line-height: 1;
  border-color: #30373d;
  background-color: #0d1117;
}

.search::placeholder {
  padding-left: 5px;
  color: #c2c3c4;
  font-size: 14px;
}

.search:focus {
  outline: none;
  border-color: #0969da;
  box-shadow: 0 0 10px #0969da;
}

.menu {
  display: none;
}

/* iPhone Xs */

@media screen and (max-width: 600px) {
  .item {
    display: none;
  }
  .menu {
    display: flex;
    margin-left: 6px;
    margin-right: 6px;
  }
}
